# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Operating System
.DS_Store
Thumbs.db
